<!DOCTYPE html>
{% load humanize %}
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type='text/css' media='all'> 
		<link rel="stylesheet" href="/css/style.css" type='text/css' media='all'> 
	<meta name="keywords" content="dequone, rezoh, stackoverflow, python, django, ask, smirnova, techopark, mail.ru, mail.ru group, mailru, mailru group, технопарк, мэйл.ру, мэйл.ру груп">
    <title>Ask Smirnova</title>
</head>

<body>
  <div class = "container">
		<div class = "row"><br>
			<form class="navbar navbar-inner form-search" id = "head"> 
				<div class ="row">
					<div class = "span3">
						<a href = "http://ask-smirnova.ru"><h1><font id = "logo" >Ask Smirnova</font></a>
					</div>
					<div class = "span4">
						<input type="text"   class="input-medium search-query" >
						<button type="submit" class="btn btn-primary" >Search</button> 
					</div>
					<div class = "span4">
						{% if user.is_authenticated %}
						<div class = "span">
							<img  class = "user" src = "/uploads/{{profile.avatar}}">	
						</div>
						<font size = "3"> {{profile.nickname}}<br>
							<a href = "/logout">Logout</a>
						<a href="/edit ">Settings</a></font>
					{% else %}
								<font size = "3"><a href = "/login">Login</a> 
													<a href = "/reg">Signin</a> </font>  {% endif %}</h1>
					</div>
				</div>
			</form>
    	<div class = "span8 " id="maincol">
				
        	{% block content %}{% endblock %}
				
	    </div>
    	<div class = "span4" id="rightcol">
				{% if popular_tags %}
				<div class = "well">
		  	  <h1>Popular Tags</h1><hr>
					<ul>
						{% for tag in popular_tags%}
						<li><a href = "/tag/{{ tag.id }}">{{tag.word}}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %} 
				{% if authors %}
				<div class = "well">
					<h1>Popular Authors</h1><hr>
					<ul>
						{% for author  in authors %}
						<li><a href = "/author/{{ author.id }}">{{author.user_name}}</a></li>
						{% endfor %}				
					</ul>
				</div>
			{% endif %}
				<ul><a href = "/reiting"><h3>Best questions</h3></a></ul>
    	</div>
		</div>
	</div>
	
    
</body>
</html>
