{% extends "base.html" %}

{% block content %}
<form class="form-horizontal" enctype="multipart/form-data" method = "post" action = '/reg'>
	{% csrf_token %}
	<fieldset>
		<legend>Registration</legend>
		<div class="controls"> 
			{%for f in form%}
				{{ f.label_tag }} 
				{{ f }}
				<div class = "alert-error input-xlarge">
					{{ f.errors }}
				</div>
			{% endfor %}
			* - required for filling<br>
			{%if error%}
				<div class = "alert-error input-xlarge">
					{{ error }}
				</div>
			{%endif%}
			<button type="submit" class="btn btn-primary">Join</button>
		</div>  
	</fieldset> 
</form>
{% endblock %}