{% extends "base.html" %}

{% block content %}
<form class="form-horizontal" enctype="multipart/form-data" method = "post" action = '/reg'>
	{% csrf_token %}
	<fieldset>
		<legend>Registration</legend>
		<div class="controls"> 
				{%for f in form%}
        	{{ f.label_tag }} 
					{{ f }}
					<div class = "alert-error input-xlarge">
						{{ f.errors }}
					</div>
				{% endfor %}
				* - required for filling<br>
				{%if error%}
					<div class = "alert-error input-xlarge">
						{{ error }}
					</div>
				{%endif%}
				<button type="submit" class="btn btn-primary">Join</button>
      </div>  
  </fieldset> 
</form>
{% endblock %}



		<!--
			

      <label class="control-label" for="input01">Login*</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01">
      </div>
			<label class="control-label" for="input02">Email*</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input02">
      </div>
			<label align= "left" class="control-label" for="input03">NickName*</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input03">
      </div>
			<label class="control-label" for="input04">Password*</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="input04">
      </div>
			<label class="control-label" for="input05">Repeat Password*</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="input05">
      </div>
			<label class="control-label" for="input05">Upload Avatar</label>-->
